@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --macondoText: 'Macondo', cursive;
    --robotoText:'Roboto', sans-serif;
    --primaryColor: #698f3f;
    --secondaryColor: #fca311;
    --mainDark: #3a3e3b;
    --mainWhite: #fff;
    --mainGrey: #e5e5e5;
    --mainTransition: all 0.3s ease-in-out;
    --letterSpacing: 0.5rem;
}
body{
    font-family: 'Roboto', sans-serif;
}
.header{
    min-height: 100vh;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url(./images/main-bcg.jpg) center/cover   no-repeat ;>
    position: relative;
}
.banner{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
}
.banner-subtitle{
    font-size: 2.3rem;
    font-family: var(--macondoText);
    color: var(--secondaryColor);
    animation: SlideFromRight 3s ease-in-out 1;
}
.banner-title{
    font-size: 3.3rem;
    color: var(--mainWhite);
    margin-bottom: 20px;
    margin-top: 10px;
    animation:SlideFromLeft 3s ease-in-out 1;
}
.main-btn,
.banner-btn{
    display: inline-block;
    background: var(--secondaryColor);
    padding: 0.8rem 1.2rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    outline: 0.3rem solid var(--secondaryColor);
    outline-offset: 4px;
    transition: var(--mainTransition);
    margin-top: 1.5rem;
}
.main-btn,
.banner-btn:hover{
    color: var(--mainWhite);
    opacity: 0.7;
}
.banner-btn{
    padding: 1rem 2.3rem;
    margin-top: 20px;
    border-radius: 10px;
    animation: show 5s ease-in-out 1;
    
}

/* animation */
@keyframes show {
    0%{
        transform: scale(2);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes SlideFromRight {
    0%{
        transform: translate(1000px);
    }
    50%{
        transform: translate(-200);
    }
    75%{
        transform: translate(50px);
    }
    100%{
        transform: translate(0px);
    }
}
@keyframes SlideFromLeft {
    0%{
        transform: translate(-1000px);
    }
    50%{
        transform: translate(200);
    }
    75%{
        transform: translate(-50px);
    }
    100%{
        transform: translate(0px);
    }
}
/* animation */

/* Content-devider */
.Content-Devider {
    height: 0.5rem;
    background: linear-gradient(
    to left, 
    var(--primaryColor), 
    var(--secondaryColor),
    var(--primaryColor)
    );
}
/* End Content-Devider */


/* Start Special  */

.specials{
    background: var(--mainGrey);
}
.clearfix::before,
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
.special{
    padding: 2.5rem 0;
    text-align: center;
    transition: var(--mainTransition);
}
.special-icon{
    font-size: 2.5rem;
    margin-bottom: 0.8rem;
    transition: var(--mainTransition);
    display: inline-block;
}
.special-title{
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: var(--letterSpacing);
    margin-bottom: 1.5rem;
    color: var(--secondaryColor);
    transition: var(--mainTransition);
}
.special-text{
    max-width: 13rem;
    margin: 0 auto;
    transition: var(--mainTransition);
}
.special:hover{
    background: var(--secondaryColor);
}
.special:hover .special-title{
    color: var(--mainWhite);
}
.special:hover .special-icon{
    transform: translateY(-5px);
}

@media screen and (min-width:576px){
    .special{
        width: 50%;
        float: left;
    }
}

@media screen and (min-width:1200px){
    .special{
        width: 25%;
        float: left;
    }
}
/* end special */
/* about */
.section-center{
    padding: 4rem 0;
    width: 80vw;
    max-width: 1170px;
    margin: 0 auto;
}
.about-img, .about-info{
    padding: 2rem 0;
}
.about-picture-container{
    background: var(--secondaryColor);
    border: 0.5rem solid var(--secondaryColor);
    border-radius: 1rem;
    overflow: hidden;
}
.about-picture-container:hover .about-picture{
    opacity: 0.7;
    transform: scale(1.2);
    
}

.about-picture{
    width: 100%;
    display: block;
    transition: var(--mainTransition);
}
.section-subtitle {
    font-size: 2rem;
    font-family: var(--macondoText);
    letter-spacing: var(--letterSpacing);
    text-transform: uppercase;
    color: var(--secondaryColor);
}
.section-title{
    font-size: 3rem;
    text-transform: uppercase;
}
.about-text{
    margin: 1rem 0;
    max-width: 26rem;
}
@media screen and (min-width:992px){
    .about-img, .about-info{
        float: left;
        width: 50%;
        padding: 2rem;
    }
}

/* end of about  */